<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台-登录</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">启路在线教育</div>
    </div>
    <!--主题内容-->
    <form class="layui-form" id="form" action="/admin/login" lay-filter="example" method="post"
          style="margin: 200px 30%">
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="username" id="username" lay-verify="title" autocomplete="off"
                       placeholder="请输入账号"
                       class="layui-input" onchange="checkUserName()" style="width: 300px">
                <span id="username-tips"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" id="password" placeholder="请输入密码" autocomplete="off"
                       class="layui-input"
                       onchange="checkPassword()" style="width: 300px">
                <span id="password-tips"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" id="sub" class="layui-btn" lay-submit="" lay-filter="demo1" style="width: 300px">
                    登录
                </button>
            </div>
        </div>
    </form>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright © 2020 qilu.com All Rights Reserved | 京ICP备 1200324546892号-11 京公网安备110151号
    </div>
</div>
</body>
</html>
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/layui/layui.js"></script>
<!--jquery-->
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<script src="../js/common.js"></script>
<script src="../lib/jquery-2.1.4/jquery.form.js"></script>
<!--加密-->
<script src="../js/obscure.js"></script>
<script>
    $("#sub").click(function () {
        var userName = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if (userName.length >= 5 && password.length >= 6) {
            $("#form").ajaxSubmit(function (data) {
                if (data.data === true) {
                    window.location.href = "/url/adminIndex";
                } else {
                    alert("输入账号或密码错误");
                }
            });
        } else {
            alert("请正确输入账号或密码");
        }
    });

    function checkUserName() {
        var userName = document.getElementById("username").value;
        if (userName === "") {
            document.getElementById("username-tips").innerHTML = "<br><font color='red'>输入账号不能为空!</font>";
            document.getElementById("sub").disabled = true;
        } else {
            document.getElementById("username-tips").innerHTML = "";
            document.getElementById("sub").disabled = false;
        }
    }

    function checkPassword() {
        var password = document.getElementById("password").value;
        if (password === "") {
            document.getElementById("password-tips").innerHTML = "<br><font color='red'>输入密码不能为空!</font>";
            document.getElementById("sub").disabled = true;
        } else if (password.length < 6) {
            document.getElementById("password-tips").innerHTML = "<br><font color='red'>密码名至少得6个字符!</font>";
            document.getElementById("sub").disabled = true;
        } else {
            document.getElementById("password-tips").innerHTML = "";
            document.getElementById("password").value = obscure(password, 10);
            document.getElementById("sub").disabled = false;
        }
    }
</script>
