<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">启路在线教育</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/url/adminIndex">控制台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="/url/adminUserInfo">
                    <img src="../images/user.png" class="layui-nav-img">
                    <span th:text="${session.admin.adminName}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a href="/admin/logout">注销</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 1">
                    <a href="javascript:;">视频管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/url/adminVideo">视频管理</a></dd>
                        <dd><a href="/url/adminVideoSeries">视频系列管理</a></dd>
                        <dd><a href="/url/adminVideoAudit">视频审核管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} == 3"><a href="/url/adminAuthority">权限管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminQuestion">问题管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminOrder">订单管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminUser">用户管理</a></li>
                <!--                <li class="layui-nav-item"><a href="/url/adminComment">评论管理</a></li>-->
                <!--                <li class="layui-nav-item"><a href="">积分管理</a></li>-->
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h2>订单管理</h2>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright © 2020 qilu.com All Rights Reserved | 京ICP备 12003892号-11 京公网安备11010802030151号
    </div>
</div>
</body>
</html>
<script src="../js/common.js"></script>
<!--<script src="../lib/json/json2.js" type="text/javascript"></script>-->
<script src="../lib/layui/layui.js"></script>
<script>
    layui.use(['element', 'table', 'jquery', 'layer', 'laydate'], function () {
        var $ = layui.$;
        var laydate = layui.laydate;
        var table = layui.table;
        var layer = layui.layer;
        var element = layui.element;
    });
</script>