<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台-评论管理</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">启路在线教育</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/url/adminIndex">控制台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="/url/adminUserInfo">
                    <img src="../images/user.png" class="layui-nav-img">
                    <span th:text="${session.admin.adminName}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a href="/admin/logout">注销</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 1">
                    <a href="javascript:;">视频管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/url/adminVideo">视频管理</a></dd>
                        <dd><a href="/url/adminVideoSeries">视频系列管理</a></dd>
                        <dd><a href="/url/adminVideoAudit">视频审核管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} == 3"><a href="/url/adminAuthority">权限管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminQuestion">问题管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminOrder">订单管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminUser">用户管理</a></li>
                <!--                <li class="layui-nav-item"><a href="/url/adminComment">评论管理</a></li>-->
                <!--                <li class="layui-nav-item"><a href="">积分管理</a></li>-->
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h2 id="title">评论管理</h2>
        </div>
        <input type="hidden" id="videoId" name="videoId" th:value="${id}">
        <table class="layui-hide" id="tables" lay-filter="tables"></table>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright © 2020 qilu.com All Rights Reserved | 京ICP备 12003892号-11 京公网安备11010802030151号
    </div>
</div>
</body>
</html>
<script src="../js/common.js"></script>
<script src="../lib/layui/layui.js"></script>
<!--加密解密-->
<script src="../js/obscure.js"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="comment">对话回复</a>
</script>

<script>
    layui.use(['element', 'table', 'jquery', 'layer', 'laydate'], function () {
        var $ = layui.$;
        var laydate = layui.laydate;
        var table = layui.table;
        var layer = layui.layer;
        var element = layui.element;

        table.render({
            elem: '#tables'
            , url: '/commentManage/getCommentList'
            , where: {
                "pageSize": 'limit',
                // "page": 'curr',//当前页（必传参数，可改变参数名）
                "sortKey": '',
                "sortDesc": false,
                // "videoId" : 1
                "videoId" : document.getElementById("videoId").value
            }
            , method: 'post'
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.data.totalElements,
                    "data": res.data.content
                }
            }
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter']
            , title: '问题回复数据表'
            , cols: [
                [
                    {type: 'numbers', title: '序号', width: 100, fixed: 'left'}
                    , {
                    field: 'user', title: '用户名', templet: function (d) {
                        return d.user.userName;
                    }
                }
                    , {field: 'commentContent', title: '评论内容'}
                    , {field: 'commentDate', title: '评论日期'}
                    , {field: 'commentLike', title: '点赞'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]
            ]
            , id: 'testReload'
            , page: true
        });

        //监听行工具事件
        table.on('tool(tables)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('是否删除', function (index) {
                    $.ajax({
                        url: "/commentManage/deleteCommentByCommentId?commentId=" + data.id,
                        type: "POST",
                        success: function (msg) {
                            if (msg.data === true) {
                                //删除这一行
                                obj.del();
                                //关闭弹框
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                                setTimeout(function () {  //使用  setTimeout（）方法设百定定时2000毫秒度
                                    window.location.reload();//页面刷新
                                }, 1000);
                            } else {
                                layer.msg("删除失败", {icon: 5});
                            }
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            }else if(obj.event === 'comment'){
                document.getElementById("title").innerHTML = "“" +data.commentContent + "”的消息回复";
                //执行重载
                table.reload('testReload', {
                    url: "/commentManage/getCommentReply"
                    , where: {
                        replyId: data.id,
                    }
                    , method: 'post'
                    , page: {
                        curr: 1  //重新从第 1 页开始
                    }
                });
            }
        });

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
