<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后端首页</title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
</head>
<body class="layui-layout-body">

    <div class="layui-header">
        <div class="layui-logo">启路在线教育</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/views/admin_index.html">控制台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="/views/admin_user_info.html">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="/views/admin_video.html">视频管理</a></li>
                <li class="layui-nav-item"><a href="/views/admin_authority.html">权限管理</a></li>
                <li class="layui-nav-item"><a href="/views/admin_question.html">问题管理</a></li>
                <li class="layui-nav-item"><a href="/views/admin_order.html">订单管理</a></li>
                <li class="layui-nav-item"><a href="/views/admin_user.html">用户管理</a></li>
                <li class="layui-nav-item"><a href="/views/admin_commnent.html">评论管理</a></li>
<!--                <li class="layui-nav-item"><a href="">积分管理</a></li>-->
            </ul>
        </div>
    </div>



<script src="../lib/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>