<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台-权限管理</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">启路在线教育</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/url/adminIndex">控制台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="/url/adminUserInfo">
                    <img src="../images/user.png" class="layui-nav-img">
                    <span th:text="${session.admin.adminName}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a href="/admin/logout">注销</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 1">
                    <a href="javascript:;">视频管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/url/adminVideo">视频管理</a></dd>
                        <dd><a href="/url/adminVideoSeries">视频系列管理</a></dd>
                        <dd><a href="/url/adminVideoAudit">视频审核管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} == 3"><a href="/url/adminAuthority">权限管理</a>
                </li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminQuestion">问题管理</a>
                </li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a
                        href="/url/adminOrder">订单管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a
                        href="/url/adminUser">用户管理</a></li>
                <!--                <li class="layui-nav-item"><a href="/url/adminComment">评论管理</a></li>-->
                <!--                <li class="layui-nav-item"><a href="">积分管理</a></li>-->
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h2>权限管理</h2>
        </div>
        <div class="demoTable" style="margin-left: 75%">
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
        <table class="layui-hide" id="tables" lay-filter="tables"></table>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright © 2020 qilu.com All Rights Reserved | 京ICP备 12003892号-11 京公网安备11010802030151号
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">新增管理员</button>
    </div>
</script>
</body>
</html>
<script src="../js/common.js"></script>
<script src="../lib/layui/layui.js"></script>
<!--加密解密-->
<script src="../js/obscure.js"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    function checkAdminName() {
        var userName = document.getElementById("adminName").value;
        if (userName === "") {
            document.getElementById("adminName-tips").innerHTML = "<br><font color='red'>输入账号不能为空!</font>";
        } else if (userName.length < 5 || userName.length > 11) {
            document.getElementById("adminName-tips").innerHTML = "<br><font color='red'>用户名至少得5位，最多11位!</font>";
        } else {
            document.getElementById("adminName-tips").innerHTML = "";
        }
    }

    function checkAdminPassword() {
        var userName = document.getElementById("adminPassword").value;
        if (userName === "") {
            document.getElementById("adminPassword-tips").innerHTML = "<br><font color='red'>输入密码不能为空!</font>";
        } else if (userName.length < 6 || userName.length > 20) {
            document.getElementById("adminPassword-tips").innerHTML = "<br><font color='red'>密码至少得6位，最多20位!</font>";
        } else {
            document.getElementById("adminPassword-tips").innerHTML = "";
        }
    }

    layui.use(['element', 'table', 'jquery', 'layer', 'laydate'], function () {
        var $ = layui.$;
        var laydate = layui.laydate;
        var table = layui.table;
        var layer = layui.layer;
        var element = layui.element;

        table.render({
            elem: '#tables'
            , url: '/adminManage/getAdminList'
            , request: {
                "pageSize": 'limit',
                "page": 'curr',//当前页（必传参数，可改变参数名）
                "sortKey": '',
                "sortDesc": false
            }
            , method: 'post'
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.data.totalElements,
                    "data": res.data.content
                }
            }
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter']
            , title: '用户数据表'
            , cols: [
                [
                    {type: 'numbers', title: '序号', width: 100, fixed: 'left'}
                    , {field: 'adminName', title: '账号名'}
                    , {field: 'userName', title: '姓名'}
                    // , {field: 'adminPassword', title: '密码'}
                    , {
                    field: 'adminAuthority', title: '权限等级', templet: function (d) {
                        if (d.adminAuthority == 1) {
                            return "业务管理员";
                        } else if (d.adminAuthority == 2) {
                            return "视频管理员";
                        } else if (d.adminAuthority == 3) {
                            return "超级管理员";
                        }
                        return d.videoSeries.seriesName;
                    }
                }
                    , {field: 'adminPosition', title: '职位'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]
            ]
            , id: 'testReload'
            , page: true
        });

        //新增用户
        table.on('toolbar(tables)', function (obj) {
            if (obj.event === 'add') {
                layer.open({
                    type: 6,
                    title: '新增管理员',
                    // skin:'layui-layer-rim',
                    area: ['600px', 'auto'],

                    content: '<div class="row" style="width: 420px;  margin-left:7px; margin-top:10px;">'
                        + '<table>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item" style="margin-top: 20px">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">用户名</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="adminName" onblur="checkAdminName()" placeholder="请输入用户名" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '<span id="adminName-tips" style="color:red; font-size: 4px"></span>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '<td>'
                        + '<div class="layui-form-item" style="margin-top: 20px">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">姓名</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="userName" placeholder="请输入姓名" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">密码</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="adminPassword" onblur="checkAdminPassword()" placeholder="请输入密码" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '<span id="adminPassword-tips" style="color:red; font-size: 4px"></span>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '<td >'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">职位</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="adminPosition" placeholder="请输入职位" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">权限等级</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + ' <div class="layui-inline" style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '      <div class="layui-input-inline">\n'
                        + '        <select name="modules" id="adminAuthority" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px" lay-verify="required" lay-search="">\n'
                        + '          <option value="1">1</option>\n'
                        + '          <option value="2">2</option>\n'
                        + '        </select>\n'
                        + '      </div>\n'
                        + '    </div>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '</table>'
                        + '</div>'
                    ,
                    btn: ['保存', '取消'],
                    btn1: function (index, layero) {
                        var formData = new FormData();
                        var adminName = document.getElementById("adminName").value;
                        var userName = document.getElementById("userName").value;
                        var adminPassword = document.getElementById("adminPassword").value;
                        var adminAuthority = document.getElementById("adminAuthority").value;
                        var adminPosition = document.getElementById("adminPosition").value;
                        formData.append("adminName", adminName);
                        formData.append("userName", userName);
                        formData.append("adminPassword", adminPassword);
                        formData.append("adminAuthority", adminAuthority);
                        formData.append("adminPosition", adminPosition);
                        $.ajax({
                            url: "/adminManage/insertAdmin",
                            type: "post",
                            dataType: "json",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (msg) {
                                console.log(msg);
                                if (msg.data === true) {
                                    //关闭弹框
                                    layer.close(index);
                                    layer.msg("添加成功", {icon: 6});
                                } else {
                                    layer.msg("添加失败", {icon: 5});
                                }
                            }
                        });

                    },
                    btn2: function (index, layero) {
                        layer.close(index);
                    }
                });
            }
        });

        //监听行工具事件
        table.on('tool(tables)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('是否删除', function (index) {
                    $.ajax({
                        url: "/adminManage/deleteAdmin?id=" + data.id,
                        type: "POST",
                        success: function (msg) {
                            if (msg.data === true) {
                                //删除这一行
                                obj.del();
                                //关闭弹框
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            } else {
                                layer.msg("删除失败", {icon: 5});
                            }
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 6,
                    title: '修改管理员信息',
                    area: ['600px', 'auto'],

                    content: '<div class="row" style="width: 420px;  margin-left:7px; margin-top:10px;">'
                        + '<input type="hidden" name="id" id="id" value="' + data.id + '">'
                        + '<table>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item" style="margin-top: 20px">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">用户名</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="adminName" onblur="checkAdminName()"  value="' + data.adminName + '"  placeholder="请输入用户名" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '<span id="adminName-tips" style="color:red; font-size: 4px"></span>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '<td>'
                        + '<div class="layui-form-item" style="margin-top: 20px">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">姓名</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="userName" placeholder="请输入姓名" value="' + data.userName + '"  autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">密码</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="adminPassword" onblur="checkAdminPassword()" placeholder="请输入密码" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '<span id="adminPassword-tips" style="color:red; font-size: 4px"></span>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '<td >'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">职位</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" id="adminPosition" placeholder="请输入职位" value="' + data.adminPosition + '" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">权限等级</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + ' <div class="layui-inline" style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '      <div class="layui-input-inline">\n'
                        + '        <select name="modules" id="adminAuthority" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px" lay-verify="required" lay-search="">\n'
                        + '          <option value="' + data.adminAuthority + '">默认：' + data.adminAuthority + '</option>\n'
                        + '          <option value="1">1</option>\n'
                        + '          <option value="2">2</option>\n'
                        + '        </select>\n'
                        + '      </div>\n'
                        + '    </div>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '</table>'
                        + '</div>'
                    ,
                    btn: ['保存', '取消'],
                    btn1: function (index, layero) {
                        var formData = new FormData();
                        var id = document.getElementById("id").value;
                        var adminName = document.getElementById("adminName").value;
                        var userName = document.getElementById("userName").value;
                        var adminPassword = document.getElementById("adminPassword").value;
                        var adminAuthority = document.getElementById("adminAuthority").value;
                        var adminPosition = document.getElementById("adminPosition").value;
                        formData.append("adminPassword", adminPassword);
                        formData.append("id", id);
                        formData.append("adminName", adminName);
                        formData.append("userName", userName);
                        formData.append("adminAuthority", adminAuthority);
                        formData.append("adminPosition", adminPosition);
                        $.ajax({
                            url: "/adminManage/updateAdmin",
                            type: "post",
                            dataType: "json",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (msg) {
                                console.log(msg);
                                if (msg.data === true) {
                                    //关闭弹框
                                    layer.close(index);
                                    layer.msg("更新成功", {icon: 6});
                                } else {
                                    layer.msg("更新失败", {icon: 5});
                                }
                            }
                        });

                    },
                });
            }
        });

        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    url: '/adminManage/search'
                    , where: {
                        query: demoReload.val(),
                    }
                    , method: 'post'
                    , page: {
                        curr: 1  //重新从第 1 页开始
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
