<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台-视频管理</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">启路在线教育</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/url/adminIndex">控制台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="/url/adminUserInfo">
                    <img src="../images/user.png" class="layui-nav-img">
                    <span th:text="${session.admin.adminName}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a href="/admin/logout">注销</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 1">
                    <a href="javascript:;">视频管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/url/adminVideo">视频管理</a></dd>
                        <dd><a href="/url/adminVideoSeries">视频系列管理</a></dd>
                        <dd><a href="/url/adminVideoAudit">视频审核管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} == 3"><a href="/url/adminAuthority">权限管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminQuestion">问题管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminOrder">订单管理</a></li>
                <li class="layui-nav-item" th:if="${session.admin.adminAuthority} != 2"><a href="/url/adminUser">用户管理</a></li>
                <!--                <li class="layui-nav-item"><a href="/url/adminComment">评论管理</a></li>-->
                <!--                <li class="layui-nav-item"><a href="">积分管理</a></li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h2>视频管理</h2>
            <div class="demoTable" style="margin-left: 75%">
                <div class="layui-inline">
                    <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
            </div>
            <table class="layui-hide" id="tables" lay-filter="tables"></table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright © 2020 qilu.com All Rights Reserved | 京ICP备 12003892号-11 京公网安备11010802030151号
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addVideo">上传视频</button>
    </div>
</script>
</body>
</html>
<script src="../js/common.js"></script>
<!--<script src="../lib/json/json2.js" type="text/javascript"></script>-->
<script src="../lib/layui/layui.js"></script>
<!--<script src="../lib/jquery-2.1.4/jquery.min.js"></script>-->

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="comment">评论</a>
</script>

<script src="../lib/layui/layui.js"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    function selectSeries(){
        var select=document.getElementById("videoClassification");
        var c=select.value;
        var area=document.getElementById("classificationLittle");
        switch(c)
        {
            case "编程语言": area.innerHTML="" +
                "<option value=\"Java\">Java</option>" +
                "<option value=\"php\">php</option>" +
                "<option value=\"Python\">Python</option>" +
                "<option value=\"C\">C</option>";
                break;
            case "云计算大数据":area.innerHTML="" +
                "<option value=\"Hadoop\">Hadoop</option>" +
                "<option value=\"Spark\">Spark</option>" +
                "<option value=\"Hbase\">Hbase</option>" +
                "<option value=\"阿里云\">阿里云</option>" +
                "<option value=\"Docker\">Docker</option>";
                break;
            case "计算机基础":area.innerHTML="" +
                "<option value=\"计算机网络\">计算机网络</option>" +
                "<option value=\"算法与数据结构\">算法与数据结构</option>";
                break;
            case "移动开发":area.innerHTML="" +
                "<option value=\"Android\">Android</option>" +
                "<option value=\"iOS\">iOS</option>" +
                "<option value=\"React native\">React native</option>";
                break;
            case "前沿技术":area.innerHTML="" +
                "<option value=\"微服务\">微服务</option>" +
                "<option value=\"区块链\">区块链</option>" +
                "<option value=\"机器学习\">机器学习</option>" +
                "<option value=\"深度学习\">深度学习</option>" +
                "<option value=\"计算机视觉\">计算机视觉</option>";
                break;
            default:alert("error");
        }
    };
    layui.use(['element', 'table', 'jquery', 'layer', 'laydate'], function () {
        var $ = layui.$;
        var laydate = layui.laydate;
        var table = layui.table;
        var layer = layui.layer;
        var element = layui.element;

        table.render({
            elem: '#tables'
            , url: '/videoManage/getVideoList'
            , request: {
                "pageSize": 'limit',
                "page": 'curr',//当前页（必传参数，可改变参数名）
                "sortKey": 'videoName',
                "sortDesc": false
            }
            , method: 'post'
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.data.totalElements,
                    "data": res.data.content
                }
            }
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter']
            , title: '视频数据表'
            , cols: [
                [
                    {type: 'numbers', title: '序号', width: 100, fixed: 'left'}
                    , {field: 'videoName', title: '视频名', unresize: true, sort: true}
                    , {
                    field: 'user', title: '用户名', templet: function (d) {
                        return d.user.userName;
                    }
                }
                //     , {
                //     field: 'series', title: '系列名', templet: function (d) {
                //         if (d.series == null) {
                //             return "[null]";
                //         }
                //         return d.series.seriesName;
                //     }
                // }
                    , {field: 'videoDate', title: '视频时间'}
                    // , {field: 'videoStatus', title: '视频状态', width: 100}
                    , {field: 'videoClassification', title: '视频类别', width: 100}
                    , {field: 'classificationLittle', title: '二级分类', width: 100}
                    , {field: 'videoIntegral', title: '积分', width: 100}
                    , {field: 'videoIntroduce', title: '视频简介', width: 100}
                    , {field: 'playbackVolume', title: '播放量', width: 100}
                    // , {field: 'coverUrl', title: '视频地址', width: 100}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200}
                ]
            ]
            , id: 'testReload'
            , page: true
        });

        //监听行工具事件
        table.on('tool(tables)', function (obj) {
            //日期时间选择器
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('是否删除', function (index) {
                    $.ajax({
                        url: "/videoManage/deleteVideoById?id=" + data.id,
                        type: "POST",
                        success: function (msg) {
                            if (msg.data === true) {
                                //删除这一行
                                obj.del();
                                //关闭弹框
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                                setTimeout(function () {  //使用  setTimeout（）方法设百定定时2000毫秒度
                                    window.location.reload();//页面刷新
                                }, 1000);
                            } else {
                                layer.msg("删除失败", {icon: 5});
                            }
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 6,
                    title: '修改信息',
                    // skin:'layui-layer-rim',
                    area: ['650px', 'auto'],

                    content: '<div class="row" style="width: 420px;  margin-left:7px; margin-top:10px;">'
                        + '<input type="hidden" id="id" name="id" value="' + data.id + '">'
                        + '<input type="hidden" id="videoStatus" name="videoStatus" value="' + data.videoStatus + '">'
                        + '<input type="hidden" id="user" name="user" value="' + data.user + '">'
                        + '<input type="hidden" id="series" name="series" value="' + data.series + '">'
                        + '<input type="hidden" id="videoImage" name="videoImage" value="' + data.videoImage + '">'
                        + '<input type="hidden" id="videoImageUrl" name="videoImageUrl" value="' + data.videoImageUrl + '">'
                        + '<input type="hidden" id="videoNumber" name="videoNumber" value="' + data.videoNumber + '">'
                        + '<input type="hidden" id="isDelete" name="isDelete" value="' + data.isDelete + '">'
                        + '<input type="hidden" id="coverUrl" name="coverUrl" value="' + data.coverUrl + '">'
                        + '<table>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item" style="margin-top: 20px">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">视频名</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" name="videoName" id="videoName" placeholder="请输入视频名" value="' + data.videoName + '" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '<td>'
                        + '<div class="layui-form-item" style="margin-top: 20px">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">用户名</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="tel" name="userName" id="userName" readonly="readonly" value="' +  data.user.userName + '" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">类别</label>\n'
                        + '    <div class="layui-input-block">\n'
                        // + '      <input type="tel" name="videoClassification" id="videoClassification" placeholder="请输入类别" value="' + data.videoClassification + '" autocomplete="off" class="layui-input" '
                        // + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + ' <div class="layui-inline" style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '      <div class="layui-input-inline">\n'
                        + '        <select name="videoClassification" id="videoClassification" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px" onchange="selectSeries()" lay-verify="required" lay-search="">\n'
                        + '          <option value="'+ data.videoClassification + '">默认：'+ data.videoClassification + '</option>\n'
                        + '          <option value="编程语言">编程语言</option>\n'
                        + '          <option value="云计算大数据">云计算大数据</option>\n'
                        + '          <option value="计算机基础">计算机基础</option>\n'
                        + '          <option value="移动开发">移动开发</option>\n'
                        + '          <option value="前沿技术">前沿技术</option>\n'
                        + '        </select>\n'
                        + '      </div>\n'
                        + '    </div>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">二级分类</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + ' <div class="layui-inline" style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '      <div class="layui-input-inline">\n'
                        + '        <select name="classificationLittle" id="classificationLittle" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px" lay-verify="required" lay-search="">\n'
                        + '          <option value="'+ data.classificationLittle + '">默认：'+ data.classificationLittle + '</option>\n'
                        +           '</select>\n'
                        + '      </div>\n'
                        + '    </div>'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">积分</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="number" min="0" step="1" name="videoIntegral" id="videoIntegral" placeholder="请输入积分" value="' + data.videoIntegral + '" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        // + '<tr>'
                        // + '<td colspan="2">'
                        // + '<div class="layui-form-item">\n'
                        // + '    <label class="layui-form-label" style="font-size: 13px">视频地址</label>\n'
                        // + '    <div class="layui-input-block">\n'
                        // + '      <input type="tel" name="coverUrl" id="coverUrl" readonly="readonly" value="' + data.coverUrl + '" autocomplete="off" class="layui-input" '
                        // + 'style="width: 460px; height: 30px; margin-top: 5px">\n'
                        // + '    </div>\n'
                        // + '  </div>'
                        // + '</td>'
                        // + '</tr>'
                        + '<tr>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">播放量</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '      <input type="number" min="0" step="1" name="playbackVolume" id="playbackVolume" placeholder="请输入播放量" value="' + data.playbackVolume + '" autocomplete="off" class="layui-input" '
                        + 'style="width: 150px; height: 30px; margin-top: 5px">\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '<td>'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">上传日期</label>\n'
                        + '    <div class="layui-input-block">\n'
                        + '        <input type="date" class="layui-input" id="videoDate" name="videoDate" id="test5" value="'+ data.videoDate +'" placeholder="yyyy-MM-dd HH:mm:ss"' +
                        'style="width: 150px; height: 30px; margin-top: 5px">'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td colspan="2">'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">修改图片封面</label>\n'
                        + '     <div class="layui-inline">\n'
                        + '           <input type="file" id="imageFile" class="layui-btn layui-btn-primary layui-btn-sm">\n'
                        + '     </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td colspan="2">'
                        + '<div class="layui-form-item">\n'
                        + '    <label class="layui-form-label" style="font-size: 13px">视频介绍</label>\n'
                        + '    <div style="margin-left: 110px; width: 410px; ">\n'
                        + '      <textarea placeholder="请输入内容" style="width: 460px; height: 200px" name="videoIntroduce" id="videoIntroduce" class="layui-textarea">' + data.videoIntroduce + '</textarea>\n'
                        + '    </div>\n'
                        + '  </div>'
                        + '</td>'
                        + '</tr>'
                        + '</table>'
                        + '</div>'
                    ,
                    btn: ['保存', '取消'],
                    btn1: function (index, layero) {
                        var formData = new FormData();
                        var id = document.getElementById("id").value;
                        var videoName = document.getElementById("videoName").value;
                        var videoStatus = document.getElementById("videoStatus").value;
                        var videoClassification = document.getElementById("videoClassification").value;
                        var classificationLittle = document.getElementById("classificationLittle").value;
                        var videoIntegral = document.getElementById("videoIntegral").value;
                        var coverUrl = document.getElementById("coverUrl").value;
                        var playbackVolume = document.getElementById("playbackVolume").value;
                        var videoDate = document.getElementById("videoDate").value;
                        var videoIntroduce = document.getElementById("videoIntroduce").value;
                        var videoImageUrl = document.getElementById("videoImageUrl").value;
                        var videoImage = document.getElementById("videoImage").value;
                        var isDelete = document.getElementById("isDelete").value;
                        var videoNumber = document.getElementById("videoNumber").value;
                        var logo_file = document.getElementById("imageFile");
                        if (logo_file !== null) {
                            var image = logo_file.files[0];
                            formData.append("image", image);
                        }
                        formData.append("id", id);
                        formData.append("videoName", videoName);
                        formData.append("videoDate", videoDate);
                        formData.append("videoStatus", videoStatus);
                        formData.append("videoClassification", videoClassification);
                        formData.append("classificationLittle", classificationLittle);
                        formData.append("videoIntegral", videoIntegral);
                        formData.append("coverUrl", coverUrl);
                        formData.append("playbackVolume", playbackVolume);
                        formData.append("videoIntroduce", videoIntroduce);
                        formData.append("isDelete", isDelete);
                        formData.append("videoNumber", videoNumber);
                        formData.append("videoImage", videoImage);
                        formData.append("videoImageUrl", videoImageUrl);
                        $.ajax({
                            url: "/videoManage/updateVideoImage",
                            type: "post",
                            dataType: "json",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (msg) {
                                console.log(msg);
                                if (msg.data === true) {
                                    //关闭弹框
                                    layer.close(index);
                                    layer.msg("更新成功", {icon: 6});
                                    setTimeout(function () {  //使用  setTimeout（）方法设百定定时2000毫秒度
                                        window.location.reload();//页面刷新
                                    }, 1000);
                                } else {
                                    layer.msg("更新失败", {icon: 5});
                                }
                            }
                        });

                    },
                });
            } else if (obj.event === 'comment') {
                window.location.href ="/url/adminVideoComment?id=" + data.id;
            }
        });

        //上传视频
        table.on('toolbar(tables)', function (obj) {
            if (obj.event === 'addVideo') {
                layer.open({
                    type: 6,
                    title: '上传视频',
                    // skin:'layui-layer-rim',
                    area: ['800px', 'auto'],

                    content: '<div class="row">\n' +
                        '                            <div style="width: 100%">\n' +
                        '                                <div style="width: 100%; text-align: center">\n' +
                        '                                    上传视频&nbsp;&nbsp;<input type="file" id="uploadVideo"\n' +
                        '                                               class="layui-btn layui-btn-primary layui-btn-sm"><br><br>\n' +
                        '                                    上传封面&nbsp;&nbsp;<input type="file" id="uploadVideoImage"\n' +
                        '                                               class="layui-btn layui-btn-primary layui-btn-sm">\n' +
                        '                                </div>\n' +
                        '                                <hr>\n' +
                        '                                <div style="margin-left: 10%">\n' +
                        '                                    <div class="layui-form-item" style="margin-top: 20px">\n' +
                        '                                        <label class="layui-form-label" style="font-size: 13px">视频名字</label>\n' +
                        '                                        <div class="layui-input-block">\n' +
                        '                                            <input type="tel" id="videoName" name="videoName" placeholder="请输入视频名字"\n' +
                        '                                                   autocomplete="off"\n' +
                        '                                                   class="layui-input"\n' +
                        '                                                   style="width: 150px; height: 30px; margin-top: 5px">\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="layui-form-item">\n' +
                        '                                        <div class="layui-inline">\n' +
                        '                                            <label class="layui-form-label" style="font-size: 13px">类别</label>\n' +
                        '                                            <div class="layui-input-block">\n' +
                        '                                                <select name="videoClassification2"\n' +
                        '                                                        id="videoClassification2"\n' +
                        '                                                        style="width: 150px; height: 30px; margin-top: 5px"\n' +
                        '                                                        onchange="selectSeries2()">\n' +
                        '                                                    <option value="编程语言">编程语言</option>\n' +
                        '                                                    <option value="云计算大数据">云计算大数据</option>\n' +
                        '                                                    <option value="计算机基础">计算机基础</option>\n' +
                        '                                                    <option value="移动开发">移动开发</option>\n' +
                        '                                                    <option value="前沿技术">前沿技术</option>\n' +
                        '                                                </select>\n' +
                        '                                            </div>\n' +
                        '                                        </div>\n' +
                        '                                        <div class="layui-inline">\n' +
                        '                                            <label class="layui-form-label" style="font-size: 13px">二级类别</label>\n' +
                        '                                            <div class="layui-input-block">\n' +
                        '                                                <select name="classificationLittle2"\n' +
                        '                                                        id="classificationLittle2"\n' +
                        '                                                        style="width: 150px; height: 30px; margin-top: 5px"\n' +
                        '                                                        lay-verify="required" lay-search="">\n' +
                        '                                                    <option value="Java">Java</option>\n' +
                        '                                                    <option value="php">php</option>\n' +
                        '                                                    <option value="Python">Python</option>\n' +
                        '                                                    <option value="C">C</option>\n' +
                        '                                                </select>\n' +
                        '                                            </div>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="layui-form-item">\n' +
                        '                                        <label class="layui-form-label" style="font-size: 13px">积分</label>\n' +
                        '                                        <div class="layui-input-block">\n' +
                        '                                            <input type="number" min="1" value="0" step="1" id="videoIntegral" placeholder="请输入积分"\n' +
                        '                                                   autocomplete="off" class="layui-input"\n' +
                        '                                                   style="width: 150px; height: 30px; margin-top: 5px">\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="layui-form-item">\n' +
                        '                                        <label class="layui-form-label" style="font-size: 13px">视频简介</label>\n' +
                        '                                        <div style="margin-left: 110px; width: 410px; ">\n' +
                        '                                            <textarea placeholder="请输入简介" style="width: 460px; height: 200px" id="introduction"\n' +
                        '                                                      class="layui-textarea"></textarea>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </div>'
                    ,
                    btn: ['保存', '取消'],
                    btn1: function (index, layero) {
                        var formData = new FormData();
                        var uploadVideo_file = document.getElementById("uploadVideo");
                        if (uploadVideo_file !== null) {
                            var uploadVideo = uploadVideo_file.files[0];
                            formData.append("uploadVideo", uploadVideo);
                        }
                        var uploadVideoImage_file = document.getElementById("uploadVideoImage");
                        if (uploadVideoImage_file !== null) {
                            var uploadVideoImage = uploadVideoImage_file.files[0];
                            formData.append("uploadVideoImage", uploadVideoImage);
                        }

                        var videoName = document.getElementById("videoName").value;
                        var videoClassification = document.getElementById("videoClassification2").value;
                        var classificationLittle = document.getElementById("classificationLittle2").value;
                        var videoIntegral = document.getElementById("videoIntegral").value;
                        var introduction = document.getElementById("introduction").value;
                        var myDate = new Date();
                        var videoDate = myDate.getFullYear() + "-" + (myDate.getMonth()+1) + "-" + myDate.getDate();

                        formData.append("userId", 1);
                        formData.append("videoName", videoName);
                        formData.append("videoClassification", videoClassification);
                        formData.append("classificationLittle", classificationLittle);
                        formData.append("videoIntroduce", introduction);
                        formData.append("videoStatus", 0);
                        formData.append("videoIntegral", videoIntegral);
                        formData.append("playbackVolume", 0);
                        formData.append("videoDate", videoDate);
                        // formData.append("videoImage", 0);
                        // formData.append("videoImageUrl", 0);
                        // formData.append("coverUrl", 0);
                        formData.append("isDelete", 0);
                        formData.append("videoNumber", 0);
                        $.ajax({
                            url: "/videoManage/insertVideo",
                            type: "post",
                            dataType: "json",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                if (data.data === true) {
                                    //关闭弹框
                                    layer.msg("添加成功", {icon: 6});
                                    setTimeout(function () {  //使用  setTimeout（）方法设百定定时2000毫秒度
                                        window.location.reload();//页面刷新
                                    }, 1000);
                                } else {
                                    layer.msg("添加失败", {icon: 5});
                                }
                            }
                        });

                    },
                    btn2: function (index, layero) {
                        layer.close(index);
                    }
                });
            }
        });

        // 搜索视频
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    url: '/videoManage/search'
                    , where: {
                        query: demoReload.val(),
                    }
                    , method: 'post'
                    , page: {
                        curr: 1, //重新从第 1 页开始
                        limit: 10
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
    function selectSeries2() {
        var select = document.getElementById("videoClassification2");
        var c = select.value;
        var area = document.getElementById("classificationLittle2");
        switch (c) {
            case "编程语言":
                area.innerHTML = "" +
                    "<option value=\"Java\">Java</option>" +
                    "<option value=\"php\">php</option>" +
                    "<option value=\"Python\">Python</option>" +
                    "<option value=\"C\">C</option>";
                break;
            case "云计算大数据":
                area.innerHTML = "" +
                    "<option value=\"Hadoop\">Hadoop</option>" +
                    "<option value=\"Spark\">Spark</option>" +
                    "<option value=\"Hbase\">Hbase</option>" +
                    "<option value=\"阿里云\">阿里云</option>" +
                    "<option value=\"Docker\">Docker</option>";
                break;
            case "计算机基础":
                area.innerHTML = "" +
                    "<option value=\"计算机网络\">计算机网络</option>" +
                    "<option value=\"算法与数据结构\">算法与数据结构</option>";
                break;
            case "移动开发":
                area.innerHTML = "" +
                    "<option value=\"Android\">Android</option>" +
                    "<option value=\"iOS\">iOS</option>" +
                    "<option value=\"React native\">React native</option>";
                break;
            case "前沿技术":
                area.innerHTML = "" +
                    "<option value=\"微服务\">微服务</option>" +
                    "<option value=\"区块链\">区块链</option>" +
                    "<option value=\"机器学习\">机器学习</option>" +
                    "<option value=\"深度学习\">深度学习</option>" +
                    "<option value=\"计算机视觉\">计算机视觉</option>";
                break;
            default:
                alert("error");
        }
    };
</script>