<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册跳转</title>

    <link rel="stylesheet" href="../css/login.css">
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">

</head>
<body>
<ul class="layui-nav layui-bg-blue">
    <img src="../images/logo.png" height="42" width="250" style="margin-right: 50px"/>
    <li class="layui-nav-item layui-this"><a href="">首页</a></li>
</ul>
<div style="width: 200px; margin: 200px auto 0;">
    激活失败!&nbsp;&nbsp;<a href="/userUrl/register" style="color: #0000FF">点击跳转到注册页面</a>
</div>
<div class="my-footer">
</div>
</body>
</html>
<script src="../lib/layui/layui.js"></script>
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<!--jquery-->
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/jquery-2.1.4/jquery.form.js"></script>

<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
    layui.use(['jquery', 'layer', 'laydate'], function () {
        var $ = layui.$;
        var laydate = layui.laydate;
        var layer = layui.layer;

        $(".my-footer").load('/views/footer.html');
    });

</script>
