<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
</head>
<body>
<div style="position: fixed; bottom: 0px; width: 100%; height: 80px; background-color: #e6e5ff">
    <table style="margin-left: 200px; margin-top: 20px">
        <tr>
            <td width="100"><a href="#">网站首页</a></td>
            <td width="100"><a href="#">企业合作</a></td>
            <td width="100"><a href="#">人才招聘</a></td>
            <td width="100"><a href="#">讲师招募</a></td>
            <td width="100"><a href="#">公职考试</a></td>
            <td width="100"><a href="#">成信高校</a></td>
            <td width="100"><a href="#">联系我们</a></td>
            <td width="100"><a href="#">意见反馈</a></td>
            <td width="100"><a href="#">友情链接</a></td>
        </tr>
    </table>
    <span style="margin-left: 200px; font-size: 12px">Copyright © 2020 qilu.com All Rights Reserved | 京ICP备 12003892号-11 京公网安备11010802030151号</span>
</div>
</body>
</html>