<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导航栏</title>
</head>
<body>
<ul class="layui-nav layui-bg-blue">
    <a href="index.html"><img src="../images/logo.png" height="42" width="250" style="margin-right: 50px"/></a>
    <li class="layui-nav-item layui-this"><a href="/userUrl/index">首页</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">分类</a>
        <dl class="layui-nav-child">
            <dd><a href="/userUrl/videoList?videoClassification=编程语言">编程语言</a></dd>
            <dd><a href="/userUrl/videoList?videoClassification=云计算大数据">云计算大数据</a></dd>
            <dd><a href="/userUrl/videoList?videoClassification=计算机基础">计算机基础</a></dd>
            <dd><a href="/userUrl/videoList?videoClassification=移动开发">移动开发</a></dd>
            <dd><a href="/userUrl/videoList?videoClassification=前沿技术">前沿技术</a></dd>
        </dl>
    </li>
    <input type="hidden" id="userId" name="userId" th:value="${session.user.id}">
    <div class="layui-input-inline" id="showSearch" style="margin-left: 50%">
        <input type="tel" name="search" id="search"
               style="display: none; width: 190px; border-radius:10px; height: 30px; border: white 1px solid; padding-left: 10px">
        <button id="searchSubmit" onClick="searchSubmit()" type="submit"
                style="display: none; background-color:rgba(0,0,255,0); border:none">
            <a><img src="../images/search.png" height="25" width="25"/></a>
        </button>
        <a href="javascript:void(0);" onClick="showsearch()">
            <img src="../images/search.png" id="images" height="25" width="25"/>
        </a>
    </div>
    <li class="layui-nav-item" style="margin-left: 20px">
        <a href=""><img src="../images/news.png" height="25" width="25"/><span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item" style="margin-left: 10px">
        <a href="javascript:;">
            <img src="../images/user.png" height="25" width="25"/>
        </a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:void(0);" onclick="toPersonalInformation()">个人中心</a></dd>
            <hr>
            <dd><a href="/user/logout">退出</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item" style="margin-left: 10px">
        <span th:if="${session.user} == null"><a href="/userUrl/login">登录</a></span>
        <span th:if="${session.user} != null"><span th:text="${session.user.userName}"></span></span>
    </li>
</ul>
</body>
</html>
<script>
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var $ = layui.$;

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });

    function searchSubmit() {
        var query = document.getElementById("search").value;
        window.location.href = "/userUrl/search?query=" + query;
    }

    function showsearch() {
        var value = document.getElementById("search").style.display;
        if (value == "none") {
            document.getElementById("search").style.display = "inline";
            document.getElementById("images").style.display = "none";
            document.getElementById("searchSubmit").style.display = "inline";
            document.getElementById("showSearch").style.marginLeft = "36%";
        } else
            document.getElementById("search").style.display = "none";
    }

    function toPersonalInformation() {
        var userId = document.getElementById("userId").value;
        window.location.href = "/userUrl/personalInformation?userId=" + userId;
    }
</script>
