<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题中心</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">

    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="navigation">
</div>
<input type="hidden" id="userId" name="userId" th:value="${session.user.id}">
<div class="layui-tab-content" style="min-height: 450px; width: 80%; margin-left: 10%; padding: 10px;">

    <div class="layui-tab-item layui-show" style="min-height: 400px">
        <div id="question-list" style="width: 100%; min-height: 400px">
            <div class="layui-row layui-col-space15" th:each="page : ${pages}">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="layui-input-inline" style="float: left;">
                                <a href="javascript:void(0)" th:onclick="'showQuedtionById(' + ${page.id} + ')'"><b><span th:text="${page.questionName}"></span></b></a>
                            </div>
                            <div class="layui-input-inline" style="float: right">
                                <img src="../images/user1.png" style="width: 16px; height: 16px">
                                <span style="font-size: 10px; color:#999;margin-right: 40px;" th:text="${page.user.userName}">dsa</span>
                                <span style="font-size: 10px; color:#999;margin-right: 40px">分类：<span  th:text="${page.classification}"></span></span>
                                <span style="font-size: 10px; color:#999;margin-right: 40px" th:text="${page.questionDate}"></span>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                        <div class="layui-card-body">
                            <span style="font-size: 12px; color:#999"><b>问题详述：</b><span th:text="${page.questionContent}"></span></span>
                            <br>
                            <span style="font-size: 10px; color: #00be00">浏览<span th:text="${page.viewNumber}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center; width: 100%">
    <table style="margin-left: 40%; margin-top: 20px">
        <tr>
            <td>共<span th:text="${totalElements}">1</span>条&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><a th:href="@{/userUrl/questionList(pageNum=1, id=${session.user.id})}">
                <button type="button" class="layui-btn-sm layui-btn layui-btn-primary">首页</button>
            </a></td>
            <td th:switch="${pageNum}">
                <p th:case="1"><a th:href="@{/userUrl/questionList(pageNum=1, id=${session.user.id})}">
                    <button type="button" class="layui-btn-sm layui-btn layui-btn-primary">上一页</button>
                </a></p>
                <p th:case="*"><a
                        th:href="@{/userUrl/questionList(pageNum=${pageNum-1}, id=${session.user.id})}">
                    <button type="button" class="layui-btn-sm layui-btn layui-btn-primary">上一页</button>
                </a></p>
            </td>
            <td th:switch="${pageNum}">
                <p th:case="${totalPages}"><a
                        th:href="@{/userUrl/questionList(pageNum=${totalPages}, id=${session.user.id})}">
                    <button type="button" class="layui-btn-sm layui-btn layui-btn-primary">下一页</button>
                </a></p>
                <p th:case="*"><a
                        th:href="@{/userUrl/questionList(pageNum=${pageNum+1}, id=${session.user.id})}">
                    <button type="button" class="layui-btn-sm layui-btn layui-btn-primary">下一页</button>
                </a></p>
            </td>
            <td><a th:href="@{/userUrl/questionList(pageNum=${totalPages}, id=${session.user.id})}">
                <button type="button" class="layui-btn-sm layui-btn layui-btn-primary">尾页</button>
            </a></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;共<span th:text="${totalPages}">1</span>页</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;第<span th:text="${pageNum}">1</span>页</td>
        </tr>
    </table>
</div>
<div style="clear:both"></div>
<div class="my-footer">
</div>
</body>
</html>
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/layui/layui.js"></script>
<script src="../js/question-list.js"></script>
<!--jquery-->
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<script src="../js/common.js"></script>
