<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">

</head>
<body>
<ul class="layui-nav layui-bg-blue">
    <img src="../images/logo.png" height="42" width="250" style="margin-right: 50px"/>
    <li class="layui-nav-item layui-this"><a href="">首页</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">分类</a>
        <dl class="layui-nav-child">
            <dd><a href="">IT.互联网</a></dd>
            <dd><a href="">设计.创作</a></dd>
            <dd><a href="">电商.平台</a></dd>
        </dl>
    </li>
</ul>
<form class="layui-form" id="form" action="/user/rePassword" method="post"
      style="width: 600px; margin: 200px auto 0;">
    <table>
        <tr>
            <td>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">验证邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mail" lay-verify="email" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" id="sub" class="layui-btn" lay-submit="">发送邮件</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
<div class="my-footer">
</div>
</body>
</html>
<script src="../lib/layui/layui.js"></script>
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<!--jquery-->
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/jquery-2.1.4/jquery.form.js"></script>
<script type="text/javascript">
    layui.use(['jquery'], function () {
        var $ = layui.$;

        $(".my-footer").load('/views/footer.html');
    });

    $("#sub").click(function () {
        $("#form").ajaxSubmit(function (data) {
            if (data.data === true) {
                alert("已发送邮件，请前往邮件重置密码！");
                window.location.href = "/userUrl/login";
            } else {
                alert("注册失败");
            }
        });
    });
</script>