<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">

</head>
<body>
<ul class="layui-nav layui-bg-blue">
    <img src="../images/logo.png" height="42" width="250" style="margin-right: 50px"/>
    <li class="layui-nav-item layui-this"><a href="">首页</a></li>
</ul>
<form class="layui-form" id="form" action="/user/rePassword" method="post"
      style="width: 600px; min-height: 400px; margin: 200px auto 0;">
    <h1 style="margin-left: 35px; margin-bottom: 50px">找回密码</h1>
    <div class="layui-inline" style="height: 100px; margin-left: 35px;">
        <input type="text" name="mail" id="mail" lay-verify="email" autocomplete="off"
               class="layui-input" style="width: 200px" onblur="checkMail()">
        <span style="font-size: 12px; color: red" id="mail-tips"></span>
    </div>
    <div class="layui-inline" style=" height: 100px; margin-left: 50px">
        <button type="button" id="sub" class="layui-btn" >发送邮件</button>
    </div>
</form>
<div class="my-footer">
</div>
</body>
</html>
<script src="../lib/layui/layui.js"></script>
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<!--jquery-->
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/jquery-2.1.4/jquery.form.js"></script>
<script type="text/javascript">
    layui.use(['jquery'], function () {
        var $ = layui.$;

        $(".my-footer").load('/views/footer.html');
    });

    $("#sub").click(function () {
        $("#form").ajaxSubmit(function (data) {
            if (data.data === true) {
                alert("已发送邮件，请前往邮件重置密码！");
                window.location.href = "/userUrl/login";
            } else {
                alert("邮箱输入不正确，请重新输入！");
            }
        });
    });

    function checkMail() {
        var email = document.getElementById("mail").value;
        if (email === "") {
            document.getElementById("mail-tips").innerHTML = "<br><font color='red'>输入不能为空!</font>";
            document.getElementById("sub").disabled = true;
        } else{
            document.getElementById("mail-tips").innerHTML = "";
            document.getElementById("sub").disabled = false;
        }
    }
</script>