<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">

    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="navigation">
</div>
<input type="hidden" id="query" name="query" th:value="${query}">
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title" style="text-align: center">
        <li class="layui-this" id="searchVideo">视频</li>
        <li id="searchSeries">系列</li>
        <li id="searchQuestion">问题</li>
        <li id="searchUser">用户</li>
    </ul>
<!--    <div class="layui-tab-content" style="height: 100px;">-->
<!--        <div class="layui-tab-item">-->
<!--            <div style="margin-left: 10%; width: 81%; min-height: 700px;">-->
<!--                <div style="padding: 20px; background-color: #F2F2F2;">-->
<!--                    <div class="layui-row layui-col-space15">-->
<!--                        <div class="layui-col-md12">-->
<!--                            <div class="layui-card">-->
<!--                                <div class="layui-card-header">-->
<!--                                    <div class="layui-input-inline" style="float: left;">-->
<!--                                        <a href="">-->
<!--                                            <img src="../images/user1.png" height="35" width="35"/>-->
<!--                                            <span style="margin-left: 20px"><b>kender</b></span>-->
<!--                                        </a>-->
<!--                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" style="margin-left: 20px">关注</button>-->
<!--                                    </div>-->
<!--                                    <div class="layui-input-inline" style="float: right">-->
<!--                                        <span style="font-size: 10px; color:#999;margin-right: 40px">稿件：62</span>-->
<!--                                        <span style="font-size: 10px; color:#999;margin-right: 40px">粉丝：1976</span>-->
<!--                                    </div>-->
<!--                                    <div style="clear: both"></div>-->
<!--                                </div>-->
<!--                                <div style="padding: 10px; margin-left: 55px">-->
<!--                                    <span style="font-size: 14px; color:#999">-->
<!--                                        <b>个人简介：</b>本人是老番茄和大祥哥的粉丝，经常鬼畜那二位，嘻嘻-->
<!--                                        本人是老番茄和大祥哥的粉丝，经常鬼畜那二位，嘻嘻-->
<!--                                        本人是老番茄和大祥哥的粉丝，经常鬼畜那二位，嘻嘻-->
<!--                                        本人是老番茄和大祥哥的粉丝，经常鬼畜那二位，嘻嘻-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="demo9" style="text-align:center;"></div>-->
<!--            <div style="bottom: 0px; width: 100%; height: 80px; background-color: #F2F2F2"></div>-->
<!--        </div>-->
<!--        <div class="layui-tab-item">内容3</div>-->
<!--    </div>-->
</div>
<div class="layui-tab-content" style="min-height: 450px; width: 80%; margin-left: 10%; padding: 10px;">
    <div class="layui-tab-item"></div>
    <div class="layui-tab-item layui-show" style="min-height: 400px">
        <div id="videoClass_limitless_item" style="width: 100%; min-height: 400px">
        </div>
    </div>
</div>
<div style="width: 80%; height: 50px; margin-left: 10%; padding: 10px">
    <div id="demo7" style="text-align: center"></div>
</div>
<div style="clear:both"></div>
<div class="my-footer">
</div>
</body>
</html>
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/layui/layui.js"></script>
<!--jquery-->
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<script src="../js/common.js"></script>
<script src="../js/search.js"></script>
