<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">

    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="navigation">
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title" style="text-align: center">
        <li class="layui-this">视频</li>
        <li>问题</li>
        <li>用户</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <a href=""></a>
            <div id="test10" style="margin-left: 10%; width: 81%; min-height: 700px;">
                <div class="layui-col-md6" style="width: 300px; padding: 5px">
                    <div class="layui-card">
                        <a href="">
                            <img src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLBnAoWaErmJAIM4Caqr18HXAuLMUkNUNBh5aXXcu5M0mc3ia80DejSwSbZTA5Lib14vk/356"
                                 width="290">
                        </a>
                        <a href="">
                            <div class="layui-card-header">Java性能调优全解2.5</div>
                        </a>
                        <div class="layui-card-body">
                            <span>8978人已报名</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>评分：6.81</span><br>
                            <span style="color: red">￥299.00</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6" style="width: 300px; padding: 5px">
                    <div class="layui-card">
                        <a href=""><img
                                src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLBnAoWaErmJAIM4Caqr18HXAuLMUkNUNBh5aXXcu5M0mc3ia80DejSwSbZTA5Lib14vk/356"
                                width="290"></a>
                        <a href="">
                            <div class="layui-card-header">Java性能调优全解2.5</div>
                        </a>
                        <div class="layui-card-body">
                            <span>8978人已报名</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>评分：6.81</span><br>
                            <span style="color: red">￥299.00</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6" style="width: 300px; padding: 5px">
                    <div class="layui-card">
                        <a href=""><img
                                src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLBnAoWaErmJAIM4Caqr18HXAuLMUkNUNBh5aXXcu5M0mc3ia80DejSwSbZTA5Lib14vk/356"
                                width="290"></a>
                        <a href="">
                            <div class="layui-card-header">Java性能调优全解2.5</div>
                        </a>
                        <div class="layui-card-body">
                            <span>8978人已报名</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>评分：6.81</span><br>
                            <span style="color: red">￥299.00</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6" style="width: 300px; padding: 5px">
                    <div class="layui-card">
                        <a href=""><img
                                src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLBnAoWaErmJAIM4Caqr18HXAuLMUkNUNBh5aXXcu5M0mc3ia80DejSwSbZTA5Lib14vk/356"
                                width="290"></a>
                        <a href="">
                            <div class="layui-card-header">Java性能调优全解2.5</div>
                        </a>
                        <div class="layui-card-body">
                            <span>8978人已报名</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>评分：6.81</span><br>
                            <span style="color: red">￥299.00</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6" style="width: 300px; padding: 5px">
                    <div class="layui-card">
                        <a href=""><img
                                src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLBnAoWaErmJAIM4Caqr18HXAuLMUkNUNBh5aXXcu5M0mc3ia80DejSwSbZTA5Lib14vk/356"
                                width="290"></a>
                        <a href="">
                            <div class="layui-card-header">Java性能调优全解2.5</div>
                        </a>
                        <div class="layui-card-body">
                            <span>8978人已报名</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>评分：6.81</span><br>
                            <span style="color: red">￥299.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="bottom: 0px; width: 100%; height: 80px; background-color: #F2F2F2"></div>
        </div>
        <div class="layui-tab-item">
            <div style="margin-left: 10%; width: 81%; min-height: 700px;">
                <div style="padding: 20px; background-color: #F2F2F2;">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <a href="">为什么这用了JQuery就不能用自己写的JS了</a>
                                </div>
                                <div class="layui-card-body">
                                    问：我用的是dwz的框架，首先将一个html文件加载到首页的div中，这个html文...
                                    <br>
                                    答：您好:这种情况很简单,动态添加进去的tr不能应用js和css,在tr添加进页面后,再调用一下$("tr").addClass("样式名");
                                    重新给他添加一下样式即可.至于js的话,在绑定事件的时候用:$("tr").live(funtion(){ }) 这样就可以了.因为绑定事件的时候live就...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <a href="">为什么这用了JQuery就不能用自己写的JS了</a>
                                </div>
                                <div class="layui-card-body">
                                    问：我用的是dwz的框架，首先将一个html文件加载到首页的div中，这个html文...
                                    <br>
                                    答：您好:这种情况很简单,动态添加进去的tr不能应用js和css,在tr添加进页面后,再调用一下$("tr").addClass("样式名");
                                    重新给他添加一下样式即可.至于js的话,在绑定事件的时候用:$("tr").live(funtion(){ }) 这样就可以了.因为绑定事件的时候live就...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <a href="">为什么这用了JQuery就不能用自己写的JS了</a>
                                </div>
                                <div class="layui-card-body">
                                    问：我用的是dwz的框架，首先将一个html文件加载到首页的div中，这个html文...
                                    <br>
                                    答：您好:这种情况很简单,动态添加进去的tr不能应用js和css,在tr添加进页面后,再调用一下$("tr").addClass("样式名");
                                    重新给他添加一下样式即可.至于js的话,在绑定事件的时候用:$("tr").live(funtion(){ }) 这样就可以了.因为绑定事件的时候live就...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <a href="">为什么这用了JQuery就不能用自己写的JS了</a>
                                </div>
                                <div class="layui-card-body">
                                    问：我用的是dwz的框架，首先将一个html文件加载到首页的div中，这个html文...
                                    <br>
                                    答：您好:这种情况很简单,动态添加进去的tr不能应用js和css,在tr添加进页面后,再调用一下$("tr").addClass("样式名");
                                    重新给他添加一下样式即可.至于js的话,在绑定事件的时候用:$("tr").live(funtion(){ }) 这样就可以了.因为绑定事件的时候live就...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="demo9" style="text-align:center;"></div>
            <div style="bottom: 0px; width: 100%; height: 80px; background-color: #F2F2F2"></div>
        </div>
        <div class="layui-tab-item">内容3</div>
    </div>
</div>
<div style="clear:both"></div>
<div class="my-footer">
</div>
</body>
</html>
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/layui/layui.js"></script>
<!--jquery-->
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<script src="../js/common.js"></script>
<script src="../js/search.js"></script>
