<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <!--Layui-->
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="navigation">
</div>
<input type="hidden" id="videoClassification" name="videoClassification" th:value="${videoClassification}">
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title" style="text-align: center;">
        <li class="layui-this my-li"><h2>编程语言</h2></li>
        <li class="my-li"><h2>云计算大数据</h2></li>
        <li class="my-li"><h2>计算机基础</h2></li>
        <li class="my-li"><h2>移动开发</h2></li>
        <li class="my-li"><h2>前沿技术</h2></li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <div class="layui-row layui-col-space15 my-layui-row">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title" style="text-align: center;">
                        <li style="pointer-events: none"><h3>热门分类</h3></li>
                        <li class="layui-this">不限</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>C</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item layui-show">
                            <ul class="flow-default" id="LAY_demo1_1"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo1_2"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo1_3"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo1_4"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo1_5"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-row layui-col-space15 my-layui-row" >
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title"  style="text-align: center;">
                        <li style="pointer-events: none"><h3>热门分类</h3></li>
                        <li class="layui-this">不限</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>C</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item layui-show">
                            <ul class="flow-default" id="LAY_demo2_1"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo2_2"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo2_3"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo2_4"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo2_5"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-row layui-col-space15 my-layui-row" >
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title"  style="text-align: center;">
                        <li style="pointer-events: none"><h3>热门分类</h3></li>
                        <li class="layui-this">不限</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>C</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item layui-show">
                            <ul class="flow-default" id="LAY_demo3_1"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo3_2"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo3_3"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo3_4"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo3_5"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-row layui-col-space15 my-layui-row">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title"  style="text-align: center;">
                        <li style="pointer-events: none"><h3>热门分类</h3></li>
                        <li class="layui-this">不限</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>C</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item layui-show">
                            <ul class="flow-default" id="LAY_demo4_1"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo4_2"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo4_3"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo4_4"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo4_5"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-row layui-col-space15 my-layui-row">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title"  style="text-align: center;">
                        <li style="pointer-events: none"><h3>热门分类</h3></li>
                        <li class="layui-this">不限</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>C</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item layui-show">
                            <ul class="flow-default" id="LAY_demo5_1"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo5_2"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo5_3"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo5_4"></ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="flow-default" id="LAY_demo5_5"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-footer">
</div>
</body>
</html>
<script src="../lib/jquery-2.1.4/jquery.min.js"></script>
<script src="../lib/layui/layui.js"></script>
<!--jquery-->
<!--json-->
<script src="../lib/json/json2.js" type="text/javascript"></script>
<script src="../js/common.js"></script>
<script src="../js/video_list.js"></script>